body{
	/*background-image: url('https://i.postimg.cc/JnBW3S3n/home-bg.jpg');*/
	background-image: url(https://i.postimg.cc/qqnmbSxv/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}



